* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 0 9rem;
    height: 8rem;
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo-ctr {
    height: auto;
    width: 4.4rem;
}

#logo {
    height: 100%;
    width: 100%;
}

.middle-header-dropdown-menu {
    padding: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.down-arrow {
    height: 2rem;
    vertical-align: middle;
}

.right-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.right-header-dropdown-menu {
    display: block;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-icon-ctr {
    margin: 0 4rem;
}

#search-icon, #globe {
    height: auto;
    width: 2.5rem;
    vertical-align: middle;
}